// Specific CSS for your home-page
.home-section {
  height: 100vh;
  padding-top: 70px;
  h2 {
    margin-bottom: 60px;
  }
  // &>div {
  //   // margin: 0 8px;
  // }
}

.small-home-section {
  height: 70vh;
  padding-top: 70px;
  h2 {
    margin-bottom: 60px;
  }
}