.random-section {
  padding-top: 66px;
  height: 100vh;
  text-align: center;
  h1, h2 {
    margin-top: 40px;
  }
  h1 {
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 30px;
  }
}

.select-indoor-outdoor img {
  cursor: pointer;
}

.mood-card img {
  cursor: pointer;
}
