.container {
  margin-top: 80px;
}

#user_email, #user_password {
  border: 3px solid $gray;
  &:focus{
    border: 3px solid $yellow;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
