<div class="text-center">
    <h3>Soirée surprise !</h3>

    <p>Salut,</p>
    <p><strong><%= @booking.user.first_name %></strong> t'invite ce soir à partager une activité <strong>surprise</strong>... </p>
    <p>Rendez-vous au <strong> <%= @booking.slot.activity.address %> </strong>, à <strong><%= @booking.slot.start_date %></strong> pour la découvrir ! </p>
    <p> Toute l'équipe <em>Randomize</em> vous souhaite une soirée <strong>mémorable</strong> ❤️ </p>
    <p> À bientôt </p>
</div>
