<div class="placholder-navbar" style="height:66px"></div>

<div class="container">
  <h1>Mes réservations</h1>
  <% @my_bookings.each do |booking| %>
    <p><%= link_to 'Booking', my_booking_path(booking)%></p>
  <% end %>
</div>



