<div class="banner" style="">
  <div class="my-container">
    <div class="banner-content">  
      <h1>Envie de découverte?</h1>
      <div class="space-button">
        <h3 style = "color: #f4f4f4">Aujourd'hui, c'est
          <span id="banner-typed-text" data-activities="<%= @activities_names %>" ></span>
        </h3>
      </div>
      <div><%= link_to "Randomize!", random_path, class: 'my-btn my-btn-primary' %> </div>
    </div>
  </div>
</div>
