<div class="banner" style="">
  <div class="my-container">
    <div class="banner-content">  
      <h1>Envie de découverte?</h1>
      <h3>Randomize te fait découvrir de nouvelles activités autour de toi</h3>
      <a class="btn btn-primary" href="#">Randomize</a>
    </div>
  </div>
</div>
