<div class="banner" style="">
  <div class="my-container">
    <div class="banner-content">  
      <h1>Envie de découverte?</h1>
      <h3>Randomize te fait découvrir de nouvelles activités autour de toi</h3>
      <div><%= link_to "Randomize!", random_path, class: 'my-btn my-btn-primary' %> </div>
    </div>
  </div>
</div>
