<%# All components here %>

<h2>Button primary</h2>
<a href="#" class="my-btn my-btn-primary">Primary</a>

<h2>Button primary tap</h2>
<%# Remove display none to see %>
<div class="my-tap-container  display-none">
  <a href="#" class="my-btn btn-primary">Primary</a>
</div>

<h2>Button secondary</h2>
<a href="#" class="my-btn my-btn-secondary">Secondary</a>

<h2>Button secondary tap</h2>
<%# Remove display none to see %>
<div class="my-tap-container  display-none">
  <a href="#" class="my-btn my-btn-secondary">Secondary</a>
</div>

<h2>Button primary tap + secondary tap</h2>
<%# Remove display none to see %>
<div class="my-tap-container">
  <a href="#" class="my-btn my-btn-secondary my-btn-top-left-radius">Secondary</a>
  <a href="#" class="my-btn my-btn-primary my-btn-tap my-btn-top-right-radius">Primary</a>
</div>