<div class="placholder-navbar" style="height:66px"></div>

<div class="my-container">
  <div class="sorry" id="">
    <h1>DÉSOLÉ ... </h1>

  <div class="text-center">
    <%= image_tag "alone.png", class: "alone" %>
  </div>

  <div class="mood-sentence">
    <h3>Aucune activité ne correspond à tes critères</h3>
    <div class="margin-top">
      <p>Réessaye ici</p>
    </div>
  </div>

  <div class="my-button-invitation">
    <div class="form-actions my-tap-container" id="margin-top">
      <%= link_to 'Rerandomize', random_path, class: "btn my-btn my-btn-primary", id: "arrow-issue" %>
    </div>
  </div>
</div>


