<%= render 'shared/banner', activities: @activities_names %>

<h2>Les activités les plus populaires</h2>
<div class="scroller">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>