#booking-container h1{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
  margin-top: 15px;
}

.card-link {
  text-decoration: none;
  color:#0E0000;
  margin-left: 0 !important;
  width: 100%;
  margin: 5px;
  &:hover {
    text-decoration: none;
    color:#0E0000;
  }
}

.card-booking {
  width: 80%;
  display: flex;
  background-color: white;
  margin: 16px auto;
  border-radius: 6px;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.1);
  .card-image {
    height: 150px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 6px 0px 0px 6px;
    opacity: 0.5;
  }
  .card-details {
    padding: 8px 16px;
    flex-grow: 1;
    width: 500px;
    p {
      padding-left: 16px;
    }
  }
  .right-chevron {
    width: 8%;
    background-color: $yellow;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    border-radius: 0 6px 6px 0;
    i {
      font-size: x-large;
      color: $blue;
    }
  }
  &:hover .right-chevron {
    opacity: 0.8;
    transition-duration: 200ms;
    i {
      font-size: x-large;
      color: $blue;
      opacity: 0.8;
    }
  }

  &:hover .card-image {
    opacity:1;
  }
}

.booking-details{
  font-size: 25px;
  font-weight: lighter;
  margin: 15px;

  i, a {
  font-size: 25px;
  font-style: normal;
  margin-left: 10px;
  }
}

.booking-align{
  display:flex;
  align-items: center;
}

.booking-image {
  height: 50vh;
  width: 300px;
  object-fit: cover;
}

.booking-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  }

  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
}
.map-non-sticky {
  width: 40%;
  height: 300px;
  border-radius: 5px;
}
.display-over {
  display: none;
  height: 10%;
  width: 100%;
  position: absolute;
  background: transparent;
  opacity: 0.95;
  z-index: 2;
  text-align: center;
  line-height: 45% ;
  padding: 15px 15px 0px 15px;
  border-radius: 4px 4px 0 0;
  p {
    color: $light-gray;
    font-size: 64px !important;
  }
}

#resa-faite {
  margin-bottom: 100px;
  h1 {
    border-bottom: 1px solid $black;
    margin: 60px 0px 34px 0px;
  }
  p {
    margin: 40px 0px;
  }
}

.arrow {
  height: 75px;
  width: 75px;
  position: absolute;
  margin-left: 52px;
  margin-top: -15px;
}

.my-container {
  position: relative;
}

.my-button-invitation {
  height: 100%;
}

#guest-line {
  margin-left: 10vw;
  padding-top: 40px;
}
.guest-sentence {
  margin: 0 auto;
  text-align: center;
}
.guest-email {
  padding-top: 60px;
  #guest-email-input {
    width: 300px;
  }
}
