.my-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  font-family: $body-font;
  text-decoration: none;
  color: $black;
  border-radius: 5px;
  height: 66px;
}

.my-btn-primary {
  background-color: $yellow;
  font-size: 26px;
  padding: 0 25px;
}

.my-btn-secondary {
  padding: 0 25px;
  font-size: 26px;
  border: solid 1px $black;
}

.my-tap-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  .my-btn {
    border-radius: 5px 5px 0 0;
    padding: 0;
    flex: 1 0 0;
  }
  .my-btn-top-left-radius {
    border-radius: 5px 0 0 0;
  }
  .my-btn-top-right-radius {
    border-radius: 0 5px 0 0;
  }
}
