.my-review-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 4px;
  width: 344px !important;
  padding: 24px 16px;
  margin-bottom: 16px;
  margin: 8px auto;
  .avatar {
    // position: absolute;
    height: 50px;
    width: 50px;
  }
  .my-review-card-rating{
    margin: 8px 0;
  }
  hr {
    background-color: $light-gray;
    width: 80%;
  }
  .my-review-card-content{
    width: 100%;
    text-align: center;
    margin-top: 8px 0;
  }
}

.my-activity-card {
  background: white;
  display: flex !important;
  flex-direction: column;
  width: 344px !important;
  height: 380px;
  border-radius: 4px;
  margin: 20px auto;
  flex: 0 1 auto;
}

.icon-info {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: $light-gray;
  color: $black;
  border: $black 1px solid;
  opacity: 70%;
  cursor: pointer;
  p {
    font-size: 1.4rem !important;
  }
}

.my-card-div-image {
  height: 260px;
  position: relative;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
  }

}

.my-card-div-details {
  position: relative;
  flex: 1 0 0;
  padding: 8px;
  &>div {
    justify-content: space-between;
    padding: 0 8px;
    .card-detail {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      i {
        margin-right: 8px;
      }
    }
  }
  .hide-name {
    height: 24px;
    width: 330px;
    position: absolute;
    background-color: white;
    display: none;
  }
}

.my-btn-reveal {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  height: max-content;
  color: $light-gray;
  padding: 8px;
  border: solid 0.5px;
  border-radius: 4px;
  &:hover {
    color: $light-gray;
  }
}

.div-image-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  background: $blue;
  opacity: 1;
  z-index: 2;
  text-align: center;
  line-height: 45% ;
  padding: 15px 15px 0px 15px;
  border-radius: 4px 4px 0 0;
  p {
    color: $light-gray;
    font-size: 64px !important;
    margin-top: 35% !important;
  }
}

.activity-secret {
  .div-image-overlay {
    display: block;
  }
  .hide-name {
    display: block;
  }
}

// .activity-revealed {
//   .div-image-overlay {
//     display: none;
//   }
// }

.display-flex {
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.cover {
  height: 180px;
  width: 300px;
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-position: center;
  background-size: cover;
}

.card-activity {
  margin-top: 10px;
}
