.input-field {
  border: 3px solid $gray;
  &:focus{
    border: 3px solid $yellow;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.my-form-budget {
  display: flex;
  justify-content: center;
  height: 40px;
  input {
    width: 80px;
    border-radius: 3px;
  }
}

.form-budget-ext-int{
  margin-top: 120px;
}
