.loader h2 {
  margin: 40px auto;
}

.dice-gif {
  height: 150px;
  width: 150px;
}

#loader {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  h1 {
    margin: 40px auto;
  }
}

#activity-revealed {
  display: none;
}
