#section-map {
  #map {
    width: 100%;
    min-height: 300px;
    flex-grow: 1;
  }
  display: flex;
  flex-direction: column;
  .map-controls {
    background-color: $blue;
    height: 130px;
    display: flex;
    justify-content: space-around;
  }
}

#geolocate {
  position: absolute;
  right: 10px;
  top: 170px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding-top: 4px;
  z-index: 3;
  background: white;
  border-radius: 5px;
  i {

    font-size: 1.2rem;
  }
}

.map-container-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  .mapboxgl-canvas {
    height: 100%;
  }
}

// .slide-container {
//   background-color: white;
//   width: 90%;
//   z-index: 3;
//   position: absolute;
//   bottom: 70px;
// }

// .map-filters{
//   padding: 10px;
//   bottom: 0;
//   background-color: rgba(0, 53, 102, 0.7);
//   width: 100%;
// }

// .map-filters {
//   .align{
//     display: flex
//   }
// }

.number-participants {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 50%;
  margin: 0 auto;
  margin-top: 0px;
}

#one-person, #two-people {
  position: relative;
  font-size: 25px;
  padding: 0px 10px;
  margin: 0px 20px 35px 20px;
  cursor: pointer;
  .check {
    display: none;
    top: -8px;
    right: -8px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f4f4f4;
    text-align: center;
  }
  .fa-check {
    font-size: 15px;
    position: absolute;
    right: -1px;
  }
}



// input[name='participants']{
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     -o-appearance: none;
//     -ms-appearance: none;
//     appearance: none;
//     outline: none;
//    &:after {
//       // font-family: 'FontAwesome';
//       display: inline-block;
//       text-align: center;
//       font-size: 80px;
//       content: attr(person);
//       padding: 20px 20px;
//       border-radius: 15px;
//       color: rgba(0,0,0,.4);
//       transition: box-shadow 1s, color 1s;
//     }

//     &:checked {
//         &:after {
//             box-shadow: 2px 2px 14px rgba(0,0,0,.4);
//             color: rgba(255,255,255,.6);
//         }
//     }
// }
