.mood-form {
  // text-align: center;
  h1 {
    // margin: 100px auto;
  }
  h2 {
    // margin: 50px auto;
  }
}

.mood-images{
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  img{
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
  }
}

.completely-random {
  margin: 50px auto;
}

.choose-a-little {
  display: none;
  margin: 50px auto;
}

.button-suivant {
  display: none;
}

// #remove-fixed {
//   position: relative;
// }

.mood-sentence {
  margin: 50px 0;
  p {
    margin: 50px auto;
  }
}

.active-mood-card {
  border: 3px solid #ffc300;
  border-radius: 3px;
  .check {
    display: block !important;
  }
  i {
    color: #ffc300 !important;
  }
}

.mood-card {
  position: relative;
  .check {
    display: none;
    top: -8px;
    right: -8px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f4f4f4;
    text-align: center;
  }
  .fa-check {
    position: absolute;
    right: -1px;
  }
}

.select-indoor-outdoor {
  position: relative;
  .check {
    display: none;
    top: -8px;
    right: -8px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f4f4f4;
    text-align: center;
  }
}

.active-indoor-outdoor-card {
  border: 3px solid #ffc300;
  border-radius: 3px;
  .check {
    display: block !important;
  }
}


.arrow-top-left {
  width: 60px;
  position: absolute;
  margin: -43px -158px;
}

.arrow-top-right {
  width: 60px;
  position: absolute;
  margin: -43px 104px;
}
