.navbar-randomize {
  justify-content: space-between;
  background: $blue;
}

.navbar-randomize .navbar-collapse {
  flex-grow: 0;
}

.navbar-randomize .navbar-brand img {
  width: 40px;
}

#navbar-light {
  color: $light-gray;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
}

.drop-menu {
  background-color: $black;
  position: fixed;
  right: 14px;
  top: 80px;
  padding: 8px;
  border-radius: 5px;
  a {
    color: white;
    opacity: 1;
  }
}

// .navbar {
//   .notifications {
//     .nav-item {

//       #my-menu-profile {
//         opacity: 1 !important;
//       }
      
//       #my-menu-notifications {
//         opacity: 1 !important;
//       }
//     }
//   }
// }


.drop-menu2 {
  background-color: $black;
  position: fixed;
  right: 175px;
  width: 200px;
  top: 80px;
  padding: 8px 0;
  border-radius: 5px;
  div{
    a {
      color: white;
      opacity: 1;
    }
  white-space: inherit !important;
  }
}

.my-navbar {
  position: relative;
}

.dropdown-item {
  background-color: transparent !important;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: white !important;
  text-decoration: none !important;
}

#clicked-event {
  max-width: 250px;
  a {
    display: block;
    border-bottom: 1px solid $light-gray;
    padding: 8px;
    &:last-of-type {
      border-bottom: none;
      // margin-bottom: 0;
    }
  }
}

.my-navbar .bell{
  color: $yellow;
  font-size: 28px;
  padding: 5px;
  cursor: pointer;
}

.navbar .circle{
  position: absolute;
  bottom: 23px;
  left: 20px;
  color: $yellow;
}

.notifications{
  margin-right: 12px;
}

.navbar .notification-number{
  position: absolute;
  top: 0px;
  left: 20px;
  color: white;
  background: red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
}

.navbar-disabled {
  background-color: $light-gray;
  opacity: 0.8;
  transition-duration: 300ms;
}

.navbar {
  transition-duration: 300ms;
}

.avatar {
  cursor: pointer;
}

