.navbar-randomize {
  justify-content: space-between;
  background: $blue;
}

.navbar-randomize .navbar-collapse {
  flex-grow: 0;
}

.navbar-randomize .navbar-brand img {
  width: 40px;
}

#navbar-light {
  color: $light-gray;
}

// .navbar {
//   width: 100vw;
//   height: 40px;
//   padding: 8px;
//   display: flex;
//   justify-content: space-between;
//   background: $blue;
// }

// .navbar .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar .navbar-logo img {
//   height: 100% ;
//   margin-left: 5px;
// }

.navbar .bell{
  color: $light-gray;
  font-size: 30px;
  padding: 5px;
}

.navbar .circle{
  position: absolute;
  bottom: 23px;
  left: 20px;
  color: $yellow;
}

.navbar .notifications{
  position: relative;
}

.navbar .notification-number{
  position: absolute;
  bottom: 18px;
  left: 25px;
  color: $red;
}
// .navbar .flex-icons{
//   display: flex;
// }

// .navbar .stick-icons{
//   justify-content: flex-end;
// }

// .navbar .avatar {
//   height: 100%;
// }
