.navbar {
  width: 100vw;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background: $blue;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-logo img {
  height: 100% ;
  margin-left: 5px;
}

.navbar .bell{
  color: $light-gray;
  font-size: 30px;
  padding: 5px;
}

.navbar .circle{
  color: $yellow;
}

.navbar .flex-icons{
  display: flex;
}

.navbar .stick-icons{
  justify-content: flex-end;
}

.navbar .avatar {
  height: 100%;
}
