
<br>
<br>
<br>
<br>

<h1> Alors, qu'en as-tu pensé ? </h1>
<div> <%= @booking.slot.activity.name %> </div>

<form method = "POST" action = <%= create_review_path %>>
<fieldset class="rating">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input type="radio" id="star5" name=review[rating] value="5" />
    <label class = "full" for="star5" title="Awesome - 5 stars"></label>

    <input type="radio" id="star4half" name="review[rating]" value="4 and a half" />
    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

    <input type="radio" id="star4" name="review[rating]" value="4" />
    <label class = "full" for="star4" title="Pretty good - 4 stars"></label>

    <input type="radio" id="star3half" name="review[rating]" value="3 and a half" />
    <label class="half" for="star3half" title="Meh - 3.5 stars"></label>

    <input type="radio" id="star3" name="review[rating]" value="3" />
    <label class = "full" for="star3" title="Meh - 3 stars"></label>

    <input type="radio" id="star2half" name="review[rating]" value="2 and a half" />
    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

    <input type="radio" id="star2" name="review[rating]" value="2" />
    <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

    <input type="radio" id="star1half" name="review[rating]" value="1 and a half" />
    <label class="half" for="star1half" title="Meh - 1.5 stars"></label>

    <input type="radio" id="star1" name="review[rating]" value="1" />
    <label class = "full" for="star1" title="Sucks big time - 1 star"></label>

    <input type="radio" id="starhalf" name="review[rating]" value="half" />
    <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset>

<input type='text' id="content" name="review[content]" />
<input type='submit' value="Ajouter mon commentaire" />
</form>



  <%# simple_form_for(@review) do |f| %>
    <!-- <ul>
      <li class = 'half'> <%#= f.input :starhalf %> </li>
      <li class = 'full'> <%#= f.input :star1 %> </li>
      <li class = 'half'> <%#= f.input :star1half %> </li>
      <li class = 'full'> <%#= f.input :star2 %> </li>
      <li class = 'half'> <%#= f.input :star2half %> </li>
      <li class = 'full'> <%#= f.input :star3 %> </li>
      <li class = 'half'> <%#= f.input :star3half %> </li>
      <li class = 'full'> <%#= f.input :star4 %> </li>
      <li class = 'half'> <%#= f.input :star4half %> </li>
      <li class = 'full'> <%#= f.input :star5 %> </li>
    <ul> -->
      <%#= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
        <%#= b.radio_button + b.label {''} %>
      <%# end %>
      <%#= f.input :text %>
      <%#= f.submit %>
  <%# end %>


